        fieldset {
            clear: both;
            margin-left: auto;
            margin-right: auto;
            width: 98%;
            background-color: #ffffff;
            border-style: groove;
            border-color: #000000;
        }
        #output {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 475px;
            font-size: 15px;
        }
        h1 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        button {
            color: #0099ff;
            width: auto;
            display: inline;
        }
        #bottominfo {
            background-color: #000000;
            border-style: groove;
            border-color: #999999;
            position: absolute; bottom: 0; width: 98.5%; color: #ffffff;
        }
        h5 {
            text-align: left;
            display: inline;
        }
        a {
            text-align: left;
            display: inline;
            color: #0099ff;
        }
        #basenumber {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            background-color: #ffffff;
            border-style: dotted;
            border-color: #000000;
            width: 100px;
            display: inline;
        }
        p {
            text-align: center;
        }
        img {
            display: block;
            clear: both;
            margin-left: auto;
            margin-right: auto;
        }
        #title {
            margin-right: auto;
            margin-left: auto;
            display: inline;
        }
        #smartremark {
            display: inline;
        }